.white-board {
  background: url("https://media.officedepot.com/images/f_auto,q_auto,e_sharpen,h_450/products/951851/951851_o01_112520/951851");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  margin: 20px;
  font-family: "Whiteboard";
}
